 header{
    background-image: url(Last\ image.jpg);
    height: 520vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000;
}

footer {
    background-color: #ca5621;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 17%;
}

.footer-links {
    margin: 10px 0;
}



.language-selector {
    margin-top: 10px;
}

.Bcontact{
    margin-right: 70%;
    margin-top: -1%;
}

.Bgmail{
    margin-right: 25%;
    margin-top: -5%;
}

.Bsecurite{
    margin-left: 25%;
    margin-top: -4.5%;
}
.Badresse{
    margin-left: 73%;
    margin-top: -4%;
}